:root {
  --primary: rgb(10, 10, 61);
  --secondary: skyblue;
  --tertiary: rgb(236, 214, 206);
  --shadow: -5px 5px 10px 5px rgba(104, 100, 100, 0.587);
}

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  background: grey;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.btn:hover {
  cursor: pointer;
  transform: scale(0.99);
  box-shadow: none;
}

/* global mesage  */
.global {
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.global > div {
  display: flex;
  justify-content: space-between;
}
.global a {
  margin: 5px;
}

/* <!-- header section --> */

header {
  background: var(--primary);
  color: white;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo  */

.logo {
  background: white;
  color: var(--primary);

  width: 70px;
  height: 70px;
  border-radius: 50%;

  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > div {
  border: 2px dotted var(--primary);

  width: 65px;
  height: 65px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
ul > li {
  margin: 5px;
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  font-size: 1.2rem;
}

header li:hover {
  transform: scale(1.1);

  cursor: pointer;

  border-bottom: 2px solid white;
}
.current {
  border-bottom: 2px solid white;
}

/* <!-- hero section --> */

.hero {
  background: url(/Medias/photo1.jpg) no-repeat bottom;
  height: 60vh;

  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 450px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.hero-content hr {
  width: 350px;
}

/* <!-- Latest Post --> */
.latest {
  background: url(/Medias/bg1.jpg) no-repeat bottom;
  background-size: cover;
  padding: 2rem;
}
.latest h2 {
  color: white;
  padding: 20px;
}
main {
  width: 80%;
  padding: 20px 20px;

  margin: auto;
  display: flex;
  justify-content: space-around;
}
.left {
  width: 60%;
}

.right {
  min-width: 500px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.posts {
  margin: 10px;
  background: rgba(0, 0, 0, 0.185);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  background: rgba(245, 245, 245, 0.632);
  gap: 1rem;
  border-radius: 10px;
  padding: 20px 16px;
}

.post-image {
  width: 500px;
}
.posts p {
  font-size: 0.9rem;
}
.btn {
  float: right;
}

.title {
  font-size: large;
}

.by-country {
  background: rgba(126, 195, 126, 0.767);
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  padding: auto;
}
.by-country h2 {
  margin: 0px;
  padding: 0;
}
.by-date h2 {
  margin: 0px;
  padding: 0px;
}
.by-country li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
.by-date {
  background: rgba(139, 152, 237, 0.767);
  padding: 10px;
  border-radius: 10px;
  filter: blur(0.5px);
  width: fit-content;
  padding: auto;
}
.by-date li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/* <!-- Recommendation --> */

.recommendation {
  width: 80%;
  margin: auto;
}
.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px;
  padding: 1rem 0;
}
.btn {
  float: none;
  width: 100%;
  height: 3rem;
}
.box {
  width: 25%;
  min-width: 250px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  flex-grow: 1;
}
.box .content {
  padding: 1.5rem;
}
.box img {
  border-radius: 10px 10px 0px 0px;
}
/* <!-- Subscribe  --> */
.subscribe {
  background: cyan;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe form {
  gap: 1rem;
  display: flex;
}
.subscribe input {
  height: 3rem;
  border-radius: 2px;
  border: 0px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  width: auto;
  font-size: 1.3rem;
}
.subscribe button {
  height: 3rem;
}

/* <!-- footer  --> */
footer {
  height: 5rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media QUeries:  */

/* @media (min-width: 500px) { */

@media (max-width: 1000px) {
  .main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 0px;
  }

  .posts {
    width: 70vw;
  }
  .right {
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .by-country {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70vw;
  }
  .by-date {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70vw;
  }
  .right {
    width: auto;
    margin: auto;
  }
  .left {
    width: auto;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .subscribe {
    height: auto;
  }
}
@media (max-width: 550px) {
  .global {
    display: none;
  }
  .logo {
    display: none;
  }
  .hero-content {
    width: 80vw;
  }
  .box {
    width: auto;
    padding: 0px;
    margin: auto;
  }
  .posts {
  }
}
@media (max-width: 400px) {
  body {
    width: fit-content;
  }
}
